.classpath
.DS_Store
.project
/bin
*.o
*.lo
*.la
#*#
.*.rej
*.rej
.*~
*~
.#*
*~.nib
*.pbxuser
.xvpics
build/*
*.mode1
*.mode1v3
*.mode2v3
*.perspectivev3
.svn
/*/build/
/*/Build/
/*/*/build/
/*/*/Build/